.cart-icon-container {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #3C2F2F; /* Brun Espresso */
}

.cart-icon {
    font-size: 2rem;
}

.cart-item-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #C5A059; /* Or Doux */
    color: #F4F1EA; /* Crème de Soie */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #F4F1EA; /* Crème de Soie */
}
