.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.pagination-item button {
    padding: 12px 18px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-text-dark);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s;
    border-right: 1px solid var(--color-border);
}

.pagination-item:last-child button {
    border-right: none;
}

.pagination-item button:hover {
    background-color: #f4f4f4; /* Note: couleur non standard */
}

.pagination-item.active button {
    background-color: var(--color-primary-green);
    color: var(--color-text-light);
    font-weight: bold;
}

.pagination-item.disabled button {
    color: var(--color-border-light);
    cursor: not-allowed;
    background-color: #f8f9fa; /* Note: couleur non standard */
}
