/* Polices en local */
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../public/fonts/montserrat-v31-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../public/fonts/montserrat-v31-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../public/fonts/montserrat-v31-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../public/fonts/montserrat-v31-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/playfair-display-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/playfair-display-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('../public/fonts/playfair-display-v40-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* --- Définition des Variables de Couleur (Thème Clair par défaut) --- */
:root {
    --color-primary-green: #1B3022;      /* Vert Forêt Profond */
    --color-text-dark: #3C2F2F;          /* Brun Espresso */
    --color-accent-gold: #C5A059;        /* Or Doux */
    --color-accent-gold-darker: #b0904f; /* Or Doux plus foncé */
    --color-background-cream: #F4F1EA;   /* Crème de Soie */
    --color-background-offwhite: #F9F8F6;/* Blanc cassé */
    --color-background-subtle: #e9e4d9;  /* Crème plus foncée */
    --color-accent-danger: #fd1600;      /* Rouge */
    --color-text-muted: #95a5a6;         /* Gris */
    --color-text-light: #F4F1EA;         /* Crème de Soie (texte sur fond sombre) */
    --color-white: #fff;                 /* Blanc pur */
    --color-border: #e0e0e0;             /* Gris clair */
    --color-border-light: #bdc3c7;       /* Gris moyen */
    --color-text-footer: #1B3022;
    /* Variables sémantiques pour les boutons */
    --color-btn-text: #3C2F2F;
    --color-titles: #1B3022;/* Texte sur bouton doré (toujours foncé) */
    --color-tr-bg: #f4f1ea;
    --color-btn-account: #1b3022;
    --color-bg-header: #f4f1ea;
    --color-bread: #3C2F2F;
}

/* --- Thème Sombre --- */
[data-theme="dark"] {
    --color-primary-green: #1B3022;      /* Vert plus doux et lisible sur fond noir */
    --color-text-dark: #E0E0E0;          /* Gris très clair (presque blanc) pour le texte principal */
    --color-accent-gold: #C5A059;        /* Or légèrement plus vif */
    --color-accent-gold-darker: #b0904f;
    --color-background-cream: #121212;   /* Fond principal très sombre (presque noir) */
    --color-background-offwhite: #1E1E1E;/* Fond secondaire (cartes) */
    --color-background-subtle: #2C2C2C;  /* Fond tertiaire */
    --color-accent-danger: #ff0000;      /* Rouge plus doux */
    --color-text-muted: #B0B0B0;         /* Gris clair */
    --color-text-light: #E0E0E0;         /* Texte clair sur fond sombre (reste clair) */
    --color-white: #1E1E1E;              /* Les zones blanches deviennent gris foncé */
    --color-border: #333333;             /* Bordures sombres */
    --color-border-light: #444444;
    --color-text-footer: #E0E0E0;
    --color-titles: #E0E0E0;
    /* Le texte sur bouton doré reste foncé pour le contraste */
    --color-btn-text: #121212;
    --color-tr-bg: #f4f1ea;
    --color-btn-account: #1b3022;
    --color-bg-header: #121212;
    --color-bread: #c5a059;
;

}

/* --- Styles Globaux de Typographie --- */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background-cream);
    color: var(--color-text-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

div ul li {
    list-style: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}
