/* --- Importation Globale des Polices --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');

/* --- Styles Globaux de Typographie --- */
body {
    font-family: 'Montserrat', sans-serif; /* Police par défaut pour tout le corps de texte */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #3C2F2F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Police par défaut pour tous les titres */
}

*, *::before, *::after {
    box-sizing: inherit;
}
